[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2-binary="*"
python-dotenv="*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
dev="flask run -h 0.0.0.0"
seed = "python seed.py"
